.body{
	font-family: 'Lumanosimo', cursive;
font-family: 'Roboto', sans-serif;
}
.menu

}
.menu ul{
	
	list-style:none;
	
}
.menu li{
	display:inline-block;
	margin: 0 10px;
}
.menu li a{
	text-decoration: none;
	display:inline-block;
	padding:0;
	float:right;
	
}	
.menu li a:hover{
	border-bottom: 2px solid #965830;
}
.menu li.zahialag a{
	color: #fff;
	background: #965830;
	padding: 10px 15px;
}
.menu li.zahialag a:hover{
	border:0;
}
.background{
	color:red;
}